.block-pending_user_notification tbody th
{
	border:none;
}

#pending_user_notification_pagination
{
	text-align:center;
}

#pending_user_notification_pagination .progress-disabled
{
	float:none;
}

.current_pagination
{
	font-size:1.2em;
	font-weight:bold;
}

.pagination_arrow
{
	color:#999;
}